@use '@blueprintjs/core/lib/scss/variables' as *;

.ontology-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.ontology-page-content {
  margin-top: $pt-navbar-height;
  width: 100vw;
  height: calc(100vh - #{$pt-navbar-height});
}
