@import '@blueprintjs/core/lib/scss/variables';

.workspaces-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.workspaces-content {
  display: flex;
  margin-top: $pt-navbar-height;
  width: 100vw;
  height: calc(100vh - #{$pt-navbar-height});
}

.workspaces-list {
  display: flex;
  gap: 10px;
  padding: 10px;

  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

@media (max-width: 768px) {
  .workspaces-list {
    flex-direction: row;
  }
}

.no-workspaces {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
