@import '@blueprintjs/core/lib/scss/variables';

.workspaces-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.workspaces-content {
  display: flex;
  margin-top: $pt-navbar-height;
  width: 100vw;
  height: calc(100vh - #{$pt-navbar-height});
}

.workspaces-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}

.no-workspaces {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
